
-# .flash-box
-#   グループを作成しました
.wrapper
  = render partial: 'devise/shared/side_bar'

  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          = @group.name
        %ul.main-header__left-box__member-list
          Member : 
          %li.main-header__left-box__member-list__member
            test-user
      = link_to edit_group_path(@group.id) do
        %button.main-header__edit-btn
          Edit

    .message
      .message__1
        .message__1__upper-info
          %p.message__1__upper-info__talker
            test-user
          %p.message__1__upper-info__date
            2019/06/01（Sat） 18:48:34
        .message__1__text
          こんにちは！
      .message__2
        .message__2__upper-info
          %p.message__2__upper-info__talker
            test-user
          %p.message__2__upper-info__date
            2019/06/02（Sun） 08:23:15
        .message__2__text
          さようなら！

    .form
      .form__new-message
        .form__new-message__input-box
          %input.form__new-message__input-box__text{type: "text", placeholder: "type message"}/
          %label.form__new-message__input-box__label{for: "upload_file"}
            %input.form__new-message__input-box__label__image-button{type: "file", name: "s_file", id: "upload_file"}/
          %i.fa.fa-image
        %button.submit-button{type: "submit"}
          Send

