.chat-side {
  color: $color-white;
  width: 300px;
  height: 100%;

  .side-header {
    height: 100px;
    background-color: #253141;
    font-size: 16px;
    padding: 0 20px;

    &__box {
      position: relative;
      line-height: 100px;

      &__user-name {
        display: inline-block;
      }
      &__menu {
        display: inline-block;
        position: absolute;
        right: 20px;

        &__new-group {
          display: inline-block;

          .link {
            color: $color-white;

            .fa.fa-edit {
            }
          }
        }
        &__edit-user {
          display: inline-block;

          .link {
            color: $color-white;

            .fa.fa-cog {
            }
          }
        }
      }
    }
  }
  .group {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0 20px;

    &__1 {

     &__group-name {
      font-size: 15px;
      }
     &__group-latest-message {
      margin-top: 5px;
      font-size: 11px;
      }
     }
    &__2 {
     &__group-name {
      margin-top: 40px;
      font-size: 15px;
      }
     &__group-latest-message {
      margin-top: 5px;
      font-size: 11px;
      }
    }
    &__3 {
     &__group-name {
      margin-top: 40px;
      font-size: 15px;
      }
     &__group-latest-message {
      margin-top: 5px;
      font-size: 11px;
      }
    }
  }
}