@import "./reset";
@import "font-awesome";
@import "./variable";

body {
  width: 100%;

  .flash-box {
    height: 1.5em;
    background-color: $color-skyblue;
    color: $color-white;
    text-align: center;
  }

  .wrapper {
    display: flex;

    .chat-side {
      color: $color-white;
      width: 300px;
      height: 100%;

      .side-header {
        height: 100px;
        background-color: #253141;
        font-size: 16px;
        padding: 0 20px;

        &__box {
          position: relative;
          line-height: 100px;

          &__user-name {
            display: inline-block;
          }
          &__menu {
            display: inline-block;
            position: absolute;
            right: 20px;

            &__new-group {
              display: inline-block;

              .link {
                color: $color-white;

                .fa.fa-edit {
                }
              }
            }
            &__edit-user {
              display: inline-block;

              .link {
                color: $color-white;

                .fa.fa-cog {
                }
              }
            }
          }
        }
      }
      .group {
        height: calc(100vh - 100px);
        background-color: #2f3e51;
        padding: 20px 20px 0 20px;

        &__1 {

         &__group-name {
          font-size: 15px;
          }
         &__group-latest-message {
          margin-top: 5px;
          font-size: 11px;
          }
         }
        &__2 {
         &__group-name {
          margin-top: 40px;
          font-size: 15px;
          }
         &__group-latest-message {
          margin-top: 5px;
          font-size: 11px;
          }
        }
        &__3 {
         &__group-name {
          margin-top: 40px;
          font-size: 15px;
          }
         &__group-latest-message {
          margin-top: 5px;
          font-size: 11px;
          }
        }
      }
    }

    .chat-main {
      flex: 1;

      .main-header {
        height: 100px;
        background-color: $color-white;
        border-bottom: solid 1px #eee;
        padding: 0 40px;
        position: relative;

        &__left-box {

          &__current-group {
            font-size: 20px;
            padding-top: 35px;
          }
          &__member-list {
            font-size: 12px;
            display: inline-block;

            &__member {
              display: inline-block;
            }
          }
        }
        &__edit-btn {
          display: inline-block;
          border: solid 2px $color-skyblue;
          padding: 0 20px;
          height: 38px;
          position: absolute;
          right: 40px;
          top: 28px;
          color: $color-skyblue;
          font-size: 16px;
        }
      }
      .message {
        height: calc(100vh - 171px);
        background-color: #fafafa;
        padding: 0 40px;
        font-size: 12px;

       &__1 {
         padding-top: 46px;

         &__upper-info {
           &__talker {
             display: inline-block;
             font-weight: bold;
           }
           &__date {
            color: $color-gray;
            display: inline-block;
            padding-left: 10px;
           }
         }
         &__text {
          }
         }
       &__2 {
         padding-top: 40px;

         &__upper-info {

           &__talker {
             display: inline-block;
             font-weight: bold;
           }
           &__date {
            color: $color-gray;
            display: inline-block;
            padding-left: 10px;
           }
          }
         &__text {
         }
        }
       }
      }
      .form {
        flex: 1;
        height: 90px;
        background-color: #ddd;
        margin-bottom: 0;
        position: relative;

        &__new-message {
          position: relative;

          &__input-box {
            padding: 20px 15px 20px 40px;
            display: inline-block;
            height:50px;

            &__text {
              width: calc(100vw - 500px);
              height: 50px;
              background-color: $color-white;
              display: inline-block;
              position: relative;
            }
            &__label {
              border: double 9px;
              opacity: 0;
              position: absolute;
              z-index: 1;
              right: 165px;
              top: 38px;

              &__image-button {
                display: none;
              }
            }
            .fa.fa-image {
              position: absolute;
              z-index:0.9;
              right: 165px;
              top: 38px;
            }
          }
        }
        .submit-button {
          width: 100px;
          height: 50px;
          background-color: $color-skyblue;
          display: inline-block;
          color: $color-white;
          font-size: 16px;
        }
      }
      }
    }